html > body > div.container {
    width: auto !important;
    max-width: 400px !important;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 67px;
    padding: 40px;
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.16);
}

div.row {
    width: 100% !important;
}

.col-md-4 {
    flex: 0 0 100%!important;
    max-width: 100%!important;
    -ms-flex: 0 0 100%!important;
}

.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: 0px;
    margin-left: 0px;
}

div.alert.alert-info {
    width: auto !important;
    text-align: center;
}

body > div.container > div.row {
}

html > body > div.container > h1 {
    text-align: center;
    margin-bottom: 40px;
}

html > body > div.container > div > div > form.form {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100% !important;
    display: flex;
    margin-bottom: 25px;
}

form.form > input#submit.btn.btn-primary.btn-md {
    padding: 10px 30px;
    font-weight: 600;
    background-color: #d1ecf1;
    border: 1px solid #bee5eb;
    border-radius: 12px;
    color: #0c5460;
}

form.form > div.form-group.form-check {
    width: auto !important;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    display: inline-flex;
}

body {
    background-color: #f6f9ff;
}

div.form-group.form-check > input#remember_me.form-check-input {
    position: static;
    margin-right: 8px;
    margin-top: -1px;
}

form.form > div.form-group.required {
    width: 100% !important;
}

div .navbar-nav {
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

div.row > div.col-md-4.col-lg-12 {
    width: 100% !important;
    position: relative;
    display: inline-flex;
    box-sizing: border-box;
    border-bottom: 1px solid rgba(159, 173, 202, 0.45);
    margin-bottom: 9px;
    padding-bottom: 7px;
}

html > body > div.container > p {
    text-align: center;
}

div.container > p {
    color: #9fadca;
}

div.container > p > a {
    color: #8d939f;
    text-decoration: underline;
}

.form > div.form-group.form-check > .form-check-label {
    margin-bottom: 0px;
}