<p>Dear Pulsestart,</p>
<p></p>
<p>This email confirms that an inhouse course has been created:</p>
<p></p>
<p>Course: {{ course.title }}</p>
<p>Course Link: {{config.CURRENT_SITE_URL}}/inhouse-course/{{course.inhouse_uuid}}</p>
<p>Being held at {{ course.venue }} on {{ date }} from {{ startTime }}-{{ endTime }}</p>
<p>{{ course.description }}</p>
<p></p>
<p>Many thanks,</p>
<p>The Pulsestart Team</p>