
<p>Dear {{ user.firstName }},</p>
<p></p>
<p>This is a remainder that your <strong>{{ course.title }}</strong>, will start from <strong>{{ course.date }}</strong> on {{ course.startTime }} - {{ course.endTime }}</p>
<p>Click on the link to Login and View your course. {{config.CURRENT_SITE_URL}}/{{url_for('course',course_id=course.id)}}</p>
<p>Before Course start you must complete this course's quiz. {{config.CURRENT_SITE_URL}}/{{url_for('course_quiz',course_id=course.id)}}</p>

<p></p>
<p>Course: {{ course.title }}</p>
<p>Venue: {{ course.venue }}</p>
<p>Description: {{ course.description }}</p>
<p></p>
<p>Many thanks,</p>
<p>The Pulsestart Team</p>