<p>Dear {{ user.firstName }},</p>
<p></p>
<p>This email confirms that you are enrolled in {{ course.title }}, being held at {{ course.venue }} on {{ date }} from {{ startTime }}-{{ endTime }}</p>
<p></p>
<p>Course: {{ course.title }}</p>
<p>{{ course.description }}</p>
<p></p>
<p>Many thanks,</p>
<p>The Pulsestart Team</p>