<p>Dear Pulsestart,</p>
<p>Please find below an enquiry from {{ user.firstName }} {{user.lastName}} ({{ user.email }} {{ user.mobile }})</p>
<p>ENSURE TO REPLY TO THE ABOVE ADDRESS AND NOT THIS EMAIL!</p>
<p>{{ message }}</p>