<p>Hi {{ user.firstName }},</p>
<p>
    To create your password
    <a href="{{config.CURRENT_SITE_URL}}/{{ url_for('create_password', token=token, _external=True) }}">
        click here
    </a>.
</p>
<p>Alternatively, you can paste the following link in your browser's address bar:</p>
<p>{{ url_for('create_password', token=token, _external=True) }}</p>
<p>Sincerely,</p>
<p>The Pulsestart Team</p>