<p>Hello Admin,</p>
<p></p>
<p>This is a remainder that following users enrolled in today's course haven't completed the quiz</p>
<ul>
    {%for user in users%}
        <li>
            {{user.name}} ({{user.email}}) enrolled in {{config.CURRENT_SITE_URL}}/{{url_for('course',course_id=user.course.id)}}
        </li>
    {%endfor%}
</ul>
<p>Many thanks,</p>
<p>The Pulsestart Team</p>