
<p>Dear {{ user.firstName }},</p>
<p></p>
<p>This is a remainder that you haven't completed the quiz of <strong>{{ course.title }}</strong>, course  which will start from <strong>{{ course.date }}</strong> on {{ course.startTime }} - {{ course.endTime }}</p>
<p>Click on the link to Login and take your quiz. {{config.CURRENT_SITE_URL}}/{{url_for('course_quiz',course_id=course.id)}}</p>
<p></p>
<p>Course: {{ course.title }}</p>
<p>Venue: {{ course.venue }}</p>
<p>Description: {{ course.description }}</p>
<p></p>
<p>Many thanks,</p>
<p>The Pulsestart Team</p>