<p>Hi {{ user.firstName }},</p>
<p>
    To reset your password
    <a href="{{config.CURRENT_SITE_URL}}/{{ url_for('reset_password', token=token, _external=True) }}">
        click here
    </a>.
</p>
<p>Alternatively, you can paste the following link in your browser's address bar:</p>
<p>{{ url_for('reset_password', token=token, _external=True) }}</p>
<p>If you have not requested a password reset simply ignore this message.</p>
<p>Sincerely,</p>
<p>The Pulsestart Team</p>