{% extends "base.html" %}

{% block app_content %}
    <h1>404 - File Not Found</h1>
    <h2>This is not the page you are looking for...</h2>
    <p><a href="{{ url_for('index') }}">Back</a></p>
{% endblock %}