    <table class="table table-hover">
        <tr>
            <td width="70px">
                <a href="{{ url_for('user', user_uuid=post.author.user_uuid) }}">
                    <img src="{{ post.author.avatar(70) }}" />
                </a>
            </td>
            <td>
                <span class="user_popup">
                    <a href="{{ url_for('user', user_uuid=post.author.user_uuid) }}">
                    {{ post.author.firstName }}
                    </a>
                </span>
                said {{ moment(post.timestamp).fromNow() }}:
                <br>
                <span id="post{{ post.id }}">{{ post.body }}</span>
            </td>
        </tr>
    </table>