{% extends "base.html" %}
{% from 'bootstrap/form.html' import render_form %}

{% block app_content %}
    <div class="row">
        <div class="col-md-2">
            <h1>Courses</h1>
        </div>
    <form class="form-inline" method="GET">
        <div class="col-md-2">
            <div class="form-group  input-group-sm">
                <input class="form-control input-group-sm" id="search_course" name="search_course" placeholder="Course" type="text">
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group  input-group-sm">
                <input class="form-control input-group-sm" id="search_venue" name="search_venue" placeholder="Venue" type="text">
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group  input-group-sm">
                <input class="form-control input-group-sm" id="search_month" name="search_month" placeholder="Month Ex: 11/2020" type="text">
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group  input-group-sm">
                <input class="form-control input-group-sm" id="search_date" name="search_date" placeholder="Date" type="date">
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group  input-group-sm">
                <select class="form-control" id="filter_course" name="filter">
                    <option value="">Filter Course</option>
                    <option value="all">All</option>
                    <option value="inhouse">Inhouse</option>
                </select>
            </div>
       </div>
       <div class="col-md-2">
            <div class="form-group  input-group-sm">
                <select class="form-control" id="filter_time" name="time">
                    <option value="">Filter Time</option>
                    <option value="past">Past</option>
                    <option value="future">Upcoming</option>
                </select>
            </div>
       </div>
       <!-- <input type="submit" class="btn-primary" value="Filter"> -->
    </div>
    <div class="row mr-5 mt-3 mb-2 justify-content-center">
        <input type="submit" class="btn-primary" value="Filter">

    </div>

</form>

        <table class="table table-hover" id="tr_courses">
        {% for course in courses %}
        <tr>
            <td width="160px">
                <span id="course{{ course.id }}Title"><a href="{{ url_for('course', course_id=course.id) }}"><b>{{ course.title }}
                    {% if course.inhouse %}
                        - In House
                    {% endif %}
                    </b></a></span>
            </td>
            <td width="80px">
                <span id="course{{ course.id }}Date">Date: {{ moment(course.date).format('LL') }}</span>
            </td>
            <td width="80px">
                <span id="course{{ course.id }}Time">Time: {{ moment(course.startTime, local=True).format('HH.mm') }} - {{ moment(course.endTime, local=True).format('HH:mm') }}</span>
            </td>
            <td width="80px">
                <span id="courseDetails">
                    {% if course.inhouse %}
                    <form action="/inhouse-course/{{ course.inhouse_uuid }}">
                        <input class="btn btn-primary" type="submit" value="Course Details">
                    </form>
                    {% else %}
                    <form action="/course/{{ course.id }}">
                        <input class="btn btn-primary" type="submit" value="Course Details">
                    </form>
                    {% endif %}
                </span>
            </td>
        {% if current_user.get_urole() == "Admin" %}
            <td width="80px">
                <span id="editCourseDetails">
                    <form action="{{url_for('edit_course',course_id=course.id)}}">
                        <input class="btn btn-primary" type="submit" value="Edit Course Details">
                    </form>
                </span>
            </td>
        {% endif %}
        </tr>
        <tr> 
            <td width="160px">
                <span id="course{{ course.id }}Description">{{ course.descriptionPreview }}</span>
            </td>
            <td width="80px">
                <span id="course{{ course.id }}Cost">Cost: {{ "${:,.2f}".format(course.cost) }}</span>
            </td>
            <td width="80px">
                <span id="course{{ course.id }}Venue">Venue: {{ course.venue }}</span>
            </td>
            <td width="80px">
                {# <span id="courseEnrol"><input class="btn btn-primary" type="submit" value="Course Enrol"></span> #}
            </td>
        </tr>
        <tr>
            <td colspan="4" class="divider"><hr/></td>
        </tr>
    {% endfor %}

    </table>
    <nav aria-label="...">
        <ul class="pagination justify-content-center">
            <li class="page-item previous{% if not prev_url %} disabled{% endif %}">
                <a href="{{ prev_url or '#' }}" class="page-link">
                    <span aria-hidden="true">&larr;</span> {{ ('Earlier Courses') }}
                </a>
            </li>
            <li class="page-item text-right next{% if not next_url %} disabled{% endif %}">
                <a href="{{ next_url or '#' }}" class="page-link">
                    {{ ('Later Courses') }} <span aria-hidden="true">&rarr;</span>
                </a>
            </li>
        </ul>
    </nav>
{% endblock %}


{% block scripts%}
<script src="https://cdn.jsdelivr.net/npm/jquery@3.4.1/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.0/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"></script>
<script>
// AJAX call for autocomplete
$(document).ready(function(){

    var urlParams = new URLSearchParams(window.location.search);
    //displaying appropriate selected filter through search query.
    if (urlParams.has('filter')){
        var selected_course_filter = urlParams.get('filter')
        $('#filter_course').val(selected_course_filter)
        
    }
    if (urlParams.has('time')){
        var selected_time_filter = urlParams.get('time')
        $('#filter_time').val(selected_time_filter)
    }
    if (urlParams.has('search_course')){
        var selected_time_filter = urlParams.get('search_course')
        $('#search_course').val(selected_time_filter)
    }

    if (urlParams.has('search_venue')){
        var selected_time_filter = urlParams.get('search_venue')
        $('#search_venue').val(selected_time_filter)
    }
    if (urlParams.has('search_month')){
        var selected_time_filter = urlParams.get('search_month')
        $('#search_month').val(selected_time_filter)
    }
    if (urlParams.has('search_date')){
        var selected_time_filter = urlParams.get('search_date')
        $('#search_date').val(selected_time_filter)
    }

});
</script>
{% endblock %}