{% extends 'layout.html' %}

{% block title %}
    {% if title %}{{ title }} - Pulsestart{% else %}Pulsestart Web Application{% endif %}
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script>
        $(function() {
            var timer = null;
            var xhr = null;
            $('.user_popup').hover(
                function(event) {
                    // mouse in event handler
                    var elem = $(event.currentTarget);
                    timer = setTimeout(function() {
                        timer = null;
                        xhr = $.ajax(
                            '/user/' + elem.first().text().trim() + '/popup').done(
                                function(data) {
                                    xhr = null;
                                    elem.popover({
                                        trigger: 'manual',
                                        html: true,
                                        animation: false,
                                        container: elem,
                                        content: data
                                    }).popover('show');
                                    flask_moment_render_all();
                                }
                            );
                    }, 1000);
                },
                function(event) {
                    // mouse out event handler
                    var elem = $(event.currentTarget);
                    if (timer) {
                        clearTimeout(timer);
                        timer = null;
                    }
                    else if (xhr) {
                        xhr.abort();
                        xhr = null;
                    }
                    else {
                        elem.popover('destroy');
                    }
                }
            )
        });

        function set_message_count(n) {
            $('#message_count').text(n);
            $('#message_count').css('visibility', n ? 'visible' : 'hidden');
        }

        {% if current_user.is_authenticated %}
            $(function() {
                var since = 0;
                setInterval(function() {
                    $.ajax('{{ url_for('notifications') }}?since=' + since).done(
                        function(notifications) {
                            for (var i = 0; i < notifications.length; i++) {
                                switch (notifications[i].name) {
                                    case 'unread_message_count':
                                        set_message_count(notifications[i].data);
                                        break;
                                    case 'task_progress':
                                        set_task_progress(
                                            notifications[i].data.task_id,
                                            notifications[i].data.progress);
                                    break;
                            }
                                since = notifications[i].timestamp;
                            }
                        }
                    );
                }, 10000);
            });

            function set_task_progress(task_id, progress) {
                $('#' + task_id + '-progress').text(progress);
            }

        {% endif %}
    </script>
    
{% endblock %}

{% block navbar %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
        <a class="navbar-brand" href="{{ url_for('index') }}">Pulsestart Web Application</a>
        {% if g.search_form %}
        <form class="navbar-form navbar-left" method="get" action="{{ url_for('search') }}">
            <div class="form-group">
                {{ g.search_form.q(size=20, class='form-control', placeholder=g.search_form.q.label.text) }}
            </div>
        </form>
      {% endif %}
       {% if current_user.is_anonymous %}
        <li>
            <a class="nav-link" href="{{ url_for('login') }}">{{ ('Login') }}</a>
        </li>
        {% else %}
        <li>
            <a class="nav-link" href="{{ url_for('index') }}">All Courses</a>
        </li>
        <li>
            <a class="nav-link" href="{{ url_for('myCourses') }}">My Enrolled Courses</a>
        </li>
      {% if current_user.get_urole() == "Admin" %}
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Course Administration
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="{{ url_for('admin_courses') }}">View All Courses</a>
            <a class="dropdown-item" href="{{ url_for('createCourse') }}">Create Course</a>
            <a class="dropdown-item" href="{{ url_for('selectTemplate') }}">Create Course from Template</a>
            <a class="dropdown-item" href="{{ url_for('createTemplate') }}">Create Template</a>
            <a class="dropdown-item" href="{{ url_for('create_quiz') }}">Create Quiz Template</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          User Administration
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="{{ url_for('users') }}">View All Users</a>
            <a class="dropdown-item" href="{{ url_for('admin_user_enrol') }}">Create User</a>
        </div>
      </li>
    {% endif %}
    {% if current_user.get_urole() == "Instructor" %}
        <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Instructor Actions
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="{{ url_for('instructor_courses') }}">View My Courses</a>
        </div>
      </li>
    {% endif %}
        <li>
            <a class="nav-link" href="{{ url_for('messages') }}">{{ ('Messages') }}
                 {% set new_messages = current_user.new_messages() %}
                            <span id="message_count" class="badge"
                                  style="visibility: {% if new_messages %}visible
                                  {% else %}hidden {% endif %};">
                                {{ new_messages }}
                            </span>
            </a>
        </li>
         <li>
            <a class="nav-link" href="{{ url_for('user', user_uuid=current_user.user_uuid) }}">{{ ('Profile') }}</a>
         </li>
         <li>
            <a class="nav-link" href="{{ url_for('logout') }}">{{ ('Logout') }}</a>
         </li>
         {% endif %}
         {#<li>
            <a class="nav-link" href="https://pulsestart.com.au">{{ ('Pulsestart.com.au Website') }}</a>
         </li> #}
    </ul>
  </div>
        </div>
</nav>
{% endblock %}

{% block content %}
    <div class="container">
        {% if current_user.is_authenticated %}
            {% with tasks = current_user.get_tasks_in_progress() %}
                {% if tasks %}
                    {% for task in tasks %}
                        <div class="alert alert-success" role="alert">
                            {{ task.description }}
                            <span id="{{ task.id }}-progress">{{ task.get_progress() }}</span>%
                        </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
        {% endif %}
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-info" role="alert">{{ message }}</div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        {# application content needs to be provided in the app_content block #}
        {% block app_content %}{% endblock %}
    </div>
{% endblock %}