{% extends "base.html" %}
{% from 'bootstrap/form.html' import render_form %}

{% block app_content %}
    <h1>{{ title }}</h1>
    <h4>Hi, {{ current_user.firstName }}, {{ message }}</h4>
    <br>
    {% for course in courses %}
        <table class="table table-hover">
        <tr>
            <td width="160px">
                <span id="course{{ course.id }}Title"><a href="/course/{{ course.id }}"><b>{{ course.title }}</b></a></span>
            </td>
            <td width="80px">
                <span id="course{{ course.id }}Date">Date: {{ moment(course.date).format('LL') }}</span>
            </td>
            <td width="80px">
                <span id="course{{ course.id }}Time">Time: {{ moment(course.startTime, local=True).format('HH.mm') }} - {{ moment(course.endTime, local=True).format('HH:mm') }}</span>
            </td>
            <td width="80px">
                <span id="courseDetails">
                    {% if course.inhouse == 0 %}
                        <form action="/course/{{ course.id }}">
                            <input class="btn btn-primary" type="submit" value="Course Details">
                        </form>
                    {% else %}
                        <form action="/inhouse-course/{{ course.inhouse_uuid }}">
                            <input class="btn btn-primary" type="submit" value="Course Details">
                        </form>
                    {% endif %}
                </span>
            </td>
        </tr>
        <tr> 
            <td width="160px">
                <span id="course{{ course.id }}Description">{{ course.descriptionPreview }}</span>
            </td>
            <td width="80px">
                <span id="course{{ course.id }}Cost">Cost: {{ "${:,.2f}".format(course.cost) }}</span>
            </td>
            <td width="80px">
                <span id="course{{ course.id }}Venue">Venue: {{ course.venue }}</span>
            </td>
            <td width="80px">
                {# <span id="courseEnrol"><input class="btn btn-primary" type="submit" value="Course Enrol"></span> #}
            </td>
        </tr>
        <tr>
            <td colspan="4" class="divider"><hr/></td>
        </tr>
    </table>
    {% endfor %}
    <nav aria-label="...">
        <ul class="pagination justify-content-center">
            <li class="page-item previous{% if not prev_url %} disabled{% endif %}">
                <a href="{{ prev_url or '#' }}" class="page-link">
                    <span aria-hidden="true">&larr;</span> {{ ('Earlier Courses') }}
                </a>
            </li>
            <li class="page-item text-right next{% if not next_url %} disabled{% endif %}">
                <a href="{{ next_url or '#' }}" class="page-link">
                    {{ ('Later Courses') }} <span aria-hidden="true">&rarr;</span>
                </a>
            </li>
        </ul>
    </nav>
{% endblock %}