{% extends "base.html" %}
{% from 'bootstrap/form.html' import render_form %}

{% block app_content %}
    <div class="message">
    </div>
    <table class="table table-hover">
        <tr>
            <td>
                <h1>{{ course.title }}</h1>
                <p><b>Date:</b> {{ moment(course.date).format('LL') }} {{ moment(course.startTime, local=True).format('HH.mm') }}-{{ moment(course.endTime, local=True).format('HH:mm') }} </p>
                <p><b>Cost:</b> {{ "${:,.2f}".format(course.cost) }} <b>Venue:</b> {{ course.venue }}</p>
                <p>{{ course.description }}</p>
            </td>
            </td>
        </tr>
    </table>

    <!-- Buttons - trigger modal -->
 
    {% if not isAdminView %}
      {%if enrolled%}
        <button  disabled type="button" class="btn btn-primary" data-toggle="modal" data-target="#enrolModal">
          Enrolled
        </button>
        {% if quizComplete %}
          <button  disabled type="button" class="btn btn-primary">
            Quiz Complete
          </button>
        {% elif isQuiz == True %}
        <a role="button" class="btn btn-primary" href="{{url_for('course_quiz',course_id=course.id)}}">
          Take Course Quiz
        </a>
        {% endif %}
      {% else %}
        {% if courseFull %}
        <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#">
          Course is full
        </button>
        {% else %}
          {%if close_course %}
            <div class="alert alert-warning" role="alert">
              <strong>Enrollment Closed!</strong> Please send an enquiry to find out if you can enrol in this course.
            </div>
            <button  disabled type="button" class="btn btn-primary" data-toggle="modal" data-target="#enrolModal">
              Enrol in course
            </button>
          {%else%}
            <button   type="button" class="btn btn-primary" data-toggle="modal" data-target="#enrolModal">
              Enrol in course
            </button>
          {%endif%}
        {% endif %}
      {%endif%}
      <button type="button"  class="btn btn-primary" data-toggle="modal" data-target="#enquireModal">
        Enquire about course
      </button>
    {% endif %}
    {% if current_user.get_urole() == "Admin" %}
      <hr>
      <h3>Administrator Actions</h3>
      {% if attendees is defined %}
        <b>Total number of attendees: {{ attendees|length }}/{{ course.maxAttendees }}</b><br>
        <table class="table table-hover">
        <tr>
            <td width="80px">
                <span id="Title"><b>Name</b></span>
            </td>
            <td width="80px">
                <span id="Title"><b>Email</b></span>
            </td>
            <td width="80px">
                <span id="Title"><b>Quiz Result</b></span>
            </td>
        </tr>
        {% set index = namespace(value=0) %}
        {% for attendee in attendees %}
          <tr>
            <td width="80px">
                <span id="Name">{{ attendee.firstName }} {{ attendee.lastName }}</span>
            </td>
            <td width="80px">
                <span id="Title">{{ attendee.email }}</span>
            </td>
            <td width="80px">
                <span id="Title">{{ quizResults[index.value] }}</span>
            </td>
          </tr>
          {% set index.value = index.value + 1 %}
        {% endfor %}
        </table>
      {% else %}
          <a href="{{ url_for('courseAdmin', course_id=course.id) }}">
            <button type="button" class="btn btn-primary">Show Attendees</button>
          </a>
      {% endif %}
      <a href="{{ url_for('edit_course', course_id=course.id) }}">
        <button type="button" class="btn btn-primary">Edit Course</button>
      </a>
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#emailSendModal">
        Send Email to Attendees
      </button>

    {% endif %}

    {% if current_user.get_urole() == "Instructor" and course.instructor == current_user.id %}
      <hr>
      <h3>Instructor Actions</h3>
      {% if attendees is defined %}
        <b>Total number of attendees: {{ attendees|length }}/{{ course.maxAttendees }}</b><br>
        <table class="table table-hover">
        <tr>
            <td width="80px">
                <span id="Title"><b>Name</b></span>
            </td>
            <td width="80px">
                <span id="Title"><b>Email</b></span>
            </td>
            <td width="80px">
                <span id="Title"><b>Quiz Result</b></span>
            </td>
        </tr>
        {% set index = namespace(value=0) %}
        {% for attendee in attendees %}
          <tr>
            <td width="80px">
                <span id="Name">{{ attendee.firstName }} {{ attendee.lastName }}</span>
            </td>
            <td width="80px">
                <span id="Title">{{ attendee.email }}</span>
            </td>
            <td width="80px">
                <span id="Title">{{ quizResults[index.value] }}</span>
            </td>
          </tr>
          {% set index.value = index.value + 1 %}
        {% endfor %}
        </table>
      {% else %}
          <a href="{{ url_for('courseAdmin', course_id=course.id) }}">
            <button type="button" class="btn btn-primary">Show Attendees</button>
          </a>
      {% endif %}
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#emailSendModal">
        Send Email to Attendees
      </button>
    {% endif %}

    {% if quizComplete %}
      <hr>
      <h3>Quiz Result</h3>
      {% set score = quizComplete.result.split("/")[0] | float %}
      {% set possibleScore = quizComplete.result.split("/")[1] | float %}
      <b>Your score: </b>{{ quizComplete.result }} ({{ (score/possibleScore)*100 }}%)
    {% endif %}

    <!-- Enrol Modal -->
    <div class="modal fade" id="enrolModal" tabindex="-1" role="dialog" aria-labelledby="enrolModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="enrolModalLabel">Course Enquiry</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            INSERT PAYMENT FORM HERE
          </div>
          <div class="modal-footer">
            <form action="{{url_for('enrol')}}" method="post">
                <input type="hidden" name="course_id" value="{{ course.id }}" />
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <input class="btn btn-secondary" type="submit" value="Enrol in course">
            </form>
          </div>
        </div>
      </div>
    </div>

    <!-- Enquire Modal -->
    <div class="modal fade" id="enquireModal" tabindex="-1" role="dialog" aria-labelledby="enquireModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="enquireModalLabel">Course Enquiry</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            {{ render_form(form) }}
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
    <!-- Send Email to all attendees Modal -->
        <div class="modal fade" id="emailSendModal" tabindex="-1" role="dialog" aria-labelledby="emailSendModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="emailSendModalLabel">Send Email</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                  <div class="form-group"><label class="form-control-label" for="subject">Subject</label>
                      <input class="form-control" id="email_subject" name="email_subject" type="text">
                  </div>
                    <div class="form-group"><label class="form-control-label" for="message">Message</label>
                        <textarea class="form-control" id="email_message" name="email_message" spellcheck="false"></textarea>
                    </div>
                <input class="btn btn-primary btn-md" id="email_submit" name="email_submit" type="submit" value="Send">
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
{% endblock %}
{% block scripts%}
<script src="https://cdn.jsdelivr.net/npm/jquery@3.4.1/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.0/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"></script>
<script>
    $(document).ready(function(){
	    $("#email_submit").click(function(){
	        var emailSubject=$('#email_subject').val();
	        var emailMessage=$('#email_message').val();
	        var courseId={{course.id}};
            $.ajax({
            type: "POST",
            url: "{{url_for('email_to_attendees', course_id=course.id)}}",
            data: {'emailSubject': emailSubject, 'emailMessage': emailMessage, 'courseId': courseId},
                success: function(data){
                $('#emailSendModal').modal('hide');
                $('.modal-backdrop').remove();
                    $('.message').append('<div class="alert alert-info" role="alert">Email has been sent!</div>')
                }
            });
        });
    });
</script>
{% endblock %}
