{% extends "base.html" %}
{% from 'bootstrap/form.html' import render_form %}


{% block app_content %}
    <h1>Pulsestart - Create Quiz</h1><br>
    <h4>Hi, {{ current_user.firstName }}</h4>    
    <br>
    <div>
        <form method="POST" enctype="multipart/form-data" >
            <div class="form-group">
              <label for="quiz_tite">Quiz Title</label>
              <input  required type="text" class="form-control" name="title" id="title placeholder="Enter Quiz Title">
            </div>
            <div class="form-group">
              <label for="video_url">Video url</label>
              <input required type="url" class="form-control" id="video_url" name="video_url" placeholder="Video URL">
            </div>
            <div class="form-group">
              <label for="image">Image</label>
              <input required type="file" accept="image/*" class="form-control" id="image" name="image" placeholder="Video URL">
            </div>
            <hr>
            <hr>
            <div class="form-row bg-secondary rounded shadow-lg" style="padding: 10px;margin-bottom: 10px;" >
                <div class="form-group col-md-6">
                  <label>Question</label>
                  <input required name="question" type="text" class="form-control question" placeholder="Question">
                  <br>
                  <label>Correct Choice</label>
                  <input min="1" max="3" required name="correct" aria-describedby="choiceHelp" type="number" class="form-control question" placeholder="Correct Choice">
                  <small id="choiceHelp" class="form-text text-white">Enter the correct answer number from choices</small>

                </div>
                <div class="form-group col-md-6">
                  <label >Choices</label>
                  <input required type="text" name="choice_1" class="form-control" id="choice_1" placeholder="Choice 1">
                  <br>
                  <input required type="text" name="choice_2" class="form-control" id="choice_1" placeholder="Choice 2">
                  <br>
                  <input required type="text" name="choice_3" class="form-control" id="choice_1" placeholder="Choice 3">

                </div>
            </div>
            <button type="button"  id="add_question_set" class="btn btn-primary">Add Question Set</button>
            <button type="submit"  class="btn btn-primary">Submit</button>

          </form>

    </div>
{% endblock %}

{%block scripts%}
{{super()}}
<script>
    $(document).ready(function () {

        var question_set_html = '<hr><hr>'
        question_set_html += '<div class="form-row bg-secondary rounded shadow-lg" style="padding: 10px;margin-bottom: 10px;" >'
        question_set_html += '<div class="form-group col-md-6">'
        question_set_html += '<label>Question</label>'
        question_set_html += '<input required name="question" type="text" class="form-control question" placeholder="Question">'
        question_set_html += '<br>'
        question_set_html += '<label>Correct Choice</label>'
        question_set_html += '<input min="1" max="3" required name="correct" type="number" aria-describedby="choiceHelp" class="form-control question" placeholder="Correct Choice">'
        question_set_html += '<small id="choiceHelp" class="form-text text-white">Enter the correct answer number from choices</small>'
        question_set_html += '</div>'
        question_set_html += '<div class="form-group col-md-6">'
        question_set_html += '<label >Choices</label>'
        question_set_html += '<input name="choice_1" required type="text" class="form-control" id="choice_1" placeholder="Choice 1">'
        question_set_html += '<br>'
        question_set_html += '<input name="choice_2" required type="text" class="form-control" id="choice_1" placeholder="Choice 2">'
        question_set_html += '<br>'
        question_set_html += '<input name="choice_3" required type="text" class="form-control" id="choice_1" placeholder="Choice 3">'
        question_set_html += ''
        question_set_html += '</div>'
        question_set_html += '</div>'


        $('#add_question_set').on('click',function () {
            $('#add_question_set').before(question_set_html)
         })
    });
</script>


{%endblock%}