{% extends "base.html" %}
{% from 'bootstrap/form.html' import render_form %}

{%block styles%}
  {{super()}}
      <!-- selectpciker css -->
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/css/bootstrap-select.min.css">
{%endblock%}

{% block app_content %}
    <h1>Pulsestart - Create Course</h1><br>
    <h4>Hi, {{ current_user.firstName }}</h4>    
    {{ render_form(form) }}
    <br>
{% endblock %}

{%block scripts%}
    {{super()}}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/js/bootstrap-select.min.js"></script>
    <script>
    $('#quiz_template').selectpicker();
    </script>
{%endblock%}