{% extends "base.html" %}
{% from 'bootstrap/form.html' import render_form %}

{% block app_content %}
    <h1>Pulsestart - Course Enrolment</h1><br>
    <span id="courseDetails">
        <form action="{{url_for('index')}}">
            <input class="btn btn-primary" type="submit" value="Return to course list">
        </form>
    </span>
{% endblock %}