{% extends 'base.html' %}
{% from 'bootstrap/form.html' import render_form %}

{% block app_content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
    <h1>{{ ('Sign In') }}</h1>
    <div class="row">
        <div class="col-md-4">
            {{ render_form(form) }}
        </div>
    </div>
    <br>
    <p>{{ ('New User?') }} <a href="{{ url_for('register') }}">{{ ('Click to Register!') }}</a></p>
    <p>
        {{ ('Forgot Your Password?') }}
        <a href="{{ url_for('reset_password_request') }}">{{ ('Click to Reset It') }}</a>
    </p>
{% endblock %}