{% extends "base.html" %}
{% from 'bootstrap/form.html' import render_form %}

{% block app_content %}
    <h1>Quiz: {{title}}</h1>
    <div class="col-12 bg-secondary rounded shadow-lg mt-4" style="padding: 30px;">
        <div class="embed-responsive embed-responsive-21by9">

            <iframe width="560" height="315" src="{{video_url}}" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </div>
    <b>For Demo: <a href="{{ video_url }}" target="_blank">Watch the video</a></b>
    <div class="col-12 bg-grey rounded shadow-lg mt-4 text-center" style="padding: 30px;">
        <h3>Image</h3>
        <img src="{{url_for('static',filename='images/'+image_path)}}" class="rounded mx-auto d-block" alt="quiz image">
    </div>
    <hr>
    <small>Watch the Video and answer the following Questions</small>
    <hr>
    <div class="row">
        <div class="col-md-4">
            {{ render_form(form) }}
        </div>
    </div>
{% endblock %}
{%block scripts%}
    {{super()}}
    
    <script>
        /**Bug Fix: 
               Radio buttons were automatically selected as per previous page quiz answer selection 
               even though completely new forms were rendered.

               Not a fix but a hack
        **/
        $(document).ready(function () {
            $('input:radio').removeAttr('checked');
        });
    </script>


{% endblock %}