{% extends "base.html" %}
{% from 'bootstrap/form.html' import render_form %}

{% block app_content %}
    {% if title %}
    <h1>{{ title }}</h1>
    {% else %}
    <h1>{{ ('Register') }}</h1>
    {% endif %}
    <div class="row">
        <div class="col-md-4" id="back">
            <form method="POST">
                {{ form.csrf_token() }}
                {{ form.hidden_tag('page') }}
                <input type="hidden" name="back" value="1">
                <button type="submit" class="btn-primary">Go Back</button>
            </form>
        </div>
        <div class="col-md-4">
            {{ render_form(form) }}
        </div>
    </div>
{% endblock %}

{% block scripts %}
<script src="https://cdn.jsdelivr.net/npm/jquery@3.4.1/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.0/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"></script>
<script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDgeTpvkd-E_AFbpKYuCbndR0DfwpoTskI&callback=initAutocomplete&libraries=places&v=weekly"
      defer
    ></script>
<script src="{{ url_for('static', filename='js/addressAutocomplete.js') }}"></script>
<script>
    var current_page=$('input[name="page"]').val()
    if (current_page=='1'){
        $('#back').css('display','none')
    }
</script>
<script>
// dynamic button
$('form').find('#primary_postal_addr_country').after('<br> <input type="button" onclick="postalToStreetAddress()" class="btn btn-primary btn-md" value="Street address is the same as postal address">');
$('form').find('#primary_street_addr_country').after(' <br> <input type="button" onclick="StreetAddressToPostal()" class="btn btn-primary btn-md" value="Postal address is the same as street address">');

//disabled the address fields
$("#primary_postal_addr_street_no_name").attr("readonly", "readonly");
$("#primary_postal_addr_city_suburb").attr("readonly", "readonly");
$("#primary_postal_addr_state").attr("readonly", "readonly");
$("#primary_postal_addr_post_code").attr("readonly", "readonly");
$("#primary_postal_addr_country").attr("readonly", "readonly");
$("#primary_street_addr_street_no_name").attr("readonly", "readonly");
$("#primary_street_addr_city_suburb").attr("readonly", "readonly");
$("#primary_street_addr_state").attr("readonly", "readonly");
$("#primary_street_addr_post_code").attr("readonly", "readonly");
$("#primary_street_addr_country").attr("readonly", "readonly");

// function that copy all the details of postal to street
function postalToStreetAddress() {
    var primary_postal_addr_building_name = document.getElementById("primary_postal_addr_building_name"),
    primary_street_addr_building_name = document.getElementById("primary_street_addr_building_name");
    primary_street_addr_building_name.value = primary_postal_addr_building_name.value;

    var primary_postal_addr_unit_details = document.getElementById("primary_postal_addr_unit_details"),
    primary_street_addr_unit_details = document.getElementById("primary_street_addr_unit_details");
    primary_street_addr_unit_details.value = primary_postal_addr_unit_details.value;

    var primary_postal_addr_street_no_name = document.getElementById("primary_postal_addr_street_no_name"),
    primary_street_addr_street_no_name = document.getElementById("primary_street_addr_street_no_name");
    primary_street_addr_street_no_name.value = primary_postal_addr_street_no_name.value;

    var primary_postal_addr_po_box = document.getElementById("primary_postal_addr_po_box"),
    primary_street_addr_po_box = document.getElementById("primary_street_addr_po_box");
    primary_street_addr_po_box.value = primary_postal_addr_po_box.value;

    var primary_postal_addr_city_suburb = document.getElementById("primary_postal_addr_city_suburb"),
    primary_street_addr_city_suburb = document.getElementById("primary_street_addr_city_suburb");
    primary_street_addr_city_suburb.value = primary_postal_addr_city_suburb.value;

    var primary_postal_addr_state = document.getElementById("primary_postal_addr_state"),
    primary_street_addr_state = document.getElementById("primary_street_addr_state");
    primary_street_addr_state.value = primary_postal_addr_state.value;

    var primary_postal_addr_post_code = document.getElementById("primary_postal_addr_post_code"),
    primary_street_addr_post_code = document.getElementById("primary_street_addr_post_code");
    primary_street_addr_post_code.value = primary_postal_addr_post_code.value;

    var primary_postal_addr_country = document.getElementById("primary_postal_addr_country"),
    primary_street_addr_country = document.getElementById("primary_street_addr_country");
    primary_street_addr_country.value = primary_postal_addr_country.value;
    }

// function that copy all the details of street to postal
function StreetAddressToPostal() {
    var primary_street_addr_building_name = document.getElementById("primary_street_addr_building_name"),
    primary_postal_addr_building_name = document.getElementById("primary_postal_addr_building_name");
    primary_postal_addr_building_name.value = primary_street_addr_building_name.value;

    var primary_street_addr_unit_details = document.getElementById("primary_street_addr_unit_details"),
    primary_postal_addr_unit_details = document.getElementById("primary_postal_addr_unit_details");
    primary_postal_addr_unit_details.value = primary_street_addr_unit_details.value;

    var primary_street_addr_street_no_name = document.getElementById("primary_street_addr_street_no_name"),
    primary_postal_addr_street_no_name = document.getElementById("primary_postal_addr_street_no_name");
    primary_postal_addr_street_no_name.value = primary_street_addr_street_no_name.value;

    var primary_street_addr_po_box = document.getElementById("primary_street_addr_po_box"),
    primary_postal_addr_po_box = document.getElementById("primary_postal_addr_po_box");
    primary_postal_addr_po_box.value = primary_street_addr_po_box.value;

    var primary_street_addr_city_suburb = document.getElementById("primary_street_addr_city_suburb"),
    primary_postal_addr_city_suburb = document.getElementById("primary_postal_addr_city_suburb");
    primary_postal_addr_city_suburb.value = primary_street_addr_city_suburb.value;

    var primary_street_addr_state = document.getElementById("primary_street_addr_state"),
    primary_postal_addr_state = document.getElementById("primary_postal_addr_state");
    primary_postal_addr_state.value = primary_street_addr_state.value;

    var primary_street_addr_post_code = document.getElementById("primary_street_addr_post_code"),
    primary_postal_addr_post_code = document.getElementById("primary_postal_addr_post_code");
    primary_postal_addr_post_code.value = primary_street_addr_post_code.value;

    var primary_street_addr_country = document.getElementById("primary_street_addr_country"),
    primary_postal_addr_country = document.getElementById("primary_postal_addr_country");
    primary_postal_addr_country.value = primary_street_addr_country.value;

    }
</script>
{% endblock %}