{% extends "base.html" %}
{% from 'bootstrap/form.html' import render_form %}

{% block app_content %}
    <h1>Pulsestart - Select Template</h1><br>
    <h4>Hi, {{ current_user.firstName }}, what course do you want to create?</h4> 
    <form action="{{url_for('selectTemplate')}}" method="post">  
	    <select name="templateName">
	    	{% for template in templates %}
	    		<option value="{{template.id}}">{{template.title}}</option>
	    	{% endfor %}
		</select>
		<input class="btn btn-primary" type="submit" value="Load Course Template">
	</form>
    <br>
{% endblock %}