<table class="table">
    <tr>
        <td width="64" style="border: 0px;"><img src="{{ user.avatar(64) }}"></td>
        <td style="border: 0px;">
            <p><a href="{{ url_for('user', id=user.id) }}">{{ user.firstName }}</a></p>
            <small>
                {% if user.about_me %}<p>{{ user.about_me }}</p>{% endif %}
                {% if user.last_seen %}
                <p>{{ ('Last seen on') }}: {{ moment(user.last_seen).format('LLL') }}</p>
                {% endif %}
                {# <p>
                    {{ ('%(user.followers.count())d followers') }}, 
                    {{ ('%(user.followed.count())d following') }}
                </p> #}
                {% if user != current_user %}
                    {% if not current_user.is_following(user) %}
                    <p>
                        <form action="{{ url_for('follow', id=user.id) }}" method="post">
                            {{ form.hidden_tag() }}
                            {{ form.submit(value=('Follow'), class_='btn btn-default btn-sm') }}
                        </form>
                    </p>
                    {% else %}
                    <p>
                        <form action="{{ url_for('unfollow', id=user.id) }}" method="post">
                            {{ form.hidden_tag() }}
                            {{ form.submit(value=('Unfollow'), class_='btn btn-default btm-sm') }}
                        </form>
                    </p>
                    {% endif %}
                {% endif %}
            </small>
        </td>
    </tr>
</table>