{% extends "base.html" %}

{% block app_content %}
    <table class="table table-hover">
        <tr>
            <td width="256px"><img src="{{ user.avatar(256) }}"></td>
            <td>
                <h1>{{ ('User') }}: {{ user.firstName }} {{ user.lastName }}</h1>
                {% if user.about_me %}<p>{{ user.about_me }}</p>{% endif %}
                {% if user.last_seen %}
                <p>{{ ('Last seen on') }}: {{ moment(user.last_seen).format('LLL') }}</p>
                {% endif %} 
                    <p>{{ user.followers.count() }} followers, {{ user.followed.count() }} following.</p>
                {% if user == current_user %}
                <p>
                    USI: {{ user.USI }}
                </p>
                <p>
                    <a href="{{ url_for('edit_profile') }}">
                    {{ ('Edit your profile') }}
                    </a>
                </p>
                <p>
                    <a href="{{ url_for('change_password') }}">
                    {{ ('Change password') }}
                    </a>
                </p>
                {% endif %}
                {% if user != current_user %}
                <p>
                    <a href="{{ url_for('send_message', recipient=user.id) }}">{{ ('Send private message') }}</a>
                </p>
                {% endif %}
            </td>
        </tr>
    </table>
    {% for post in posts %}
        {% include '_post.html' %}
    {% endfor %}
    <nav aria-label="...">
        <ul class="pager">
            <li class="previous{% if not prev_url %} disabled{% endif %}">
                <a href="{{ prev_url or '#' }}">
                    <span aria-hidden="true">&larr;</span> {{ ('Newer posts') }}
                </a>
            </li>
            <li class="next{% if not next_url %} disabled{% endif %}">
                <a href="{{ next_url or '#' }}">
                    {{ ('Older posts') }} <span aria-hidden="true">&rarr;</span>
                </a>
            </li>
        </ul>
    </nav>
{% endblock %}

