{% extends "base.html" %}
{% from 'bootstrap/form.html' import render_form %}

{% block app_content %}
    <div class="row">
        <div class="col-md-4">
            <h1>Users</h1>
        </div>
         <div class="col-md-4">
             <div class="form-group">
            <input class="form-control" id="id_search_users" name="search_users" placeholder="Search Users" required="" size="20" type="text" value="">
        </div>
        </div>
    </div>

        <table class="table table-hover" id="tr_users">
            <thead>
                <tr>
                    <th>
                        First Name
                    </th>
                    <th>
                        Last Name
                    </th>
                    <th>
                        Email Address
                    </th>
                </tr>
            </thead>
            <tbody>
            {% for user in users %}
             <tr>
                <td width="160px">
                    <span id="user{{ user.id }}Title"><a href="{{ url_for('edit_user', user_uuid=user.user_uuid) }}"><b>{{ user.firstName }}</b></a></span>
                </td>
                <td width="160px">
                    <span id="user{{ user.id }}Title"><a href="{{ url_for('edit_user', user_uuid=user.user_uuid) }}"><b>{{ user.lastName }}</b></a></span>
                </td>
                <td width="160px">
                    <span id="user{{ user.id }}Title"><a href="{{ url_for('edit_user', user_uuid=user.user_uuid) }}"><b>{{ user.email }}</b></a></span>
                </td>
            </tr>
            {% endfor %}
        </tbody>

        </table>
{% endblock %}

{% block scripts%}
<script src="https://cdn.jsdelivr.net/npm/jquery@3.4.1/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.0/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"></script>
<script>
// AJAX call for autocomplete
$(document).ready(function(){
	$("#id_search_users").keyup(function(){
		$.ajax({
		type: "GET",
        url: "{{url_for('search_users')}}",
		data:'keyword='+$(this).val(),
		success: function(data){
						$('#tr_users tbody tr').remove();

			$.each(JSON.parse(data), function(index, user) {
			  var user_url = '/user/admin/edit_user/' + user.user_uuid ;
              $('#tr_users').append('<tr>\
                <td width="160px"><span><a href=' +user_url+ '><b>' + user.firstName + '</b></a></span></td>\
                <td width="160px"><span><a href=' +user_url+ '><b>' + user.lastName + '</b></a></span></td>\
              <td width="160px"><span><a href=' +user_url+ '><b>' + user.email + '</b></a></span></td></tr>');
            });
		}
		});
	});
});
</script>
{% endblock %}